@import 'vendor/bootstrap/less/bootstrap.less';

@font-size-base: 16px;

section {
	.make-row;
}

header {
	.container;
	margin-top: @grid-gutter-width;
	margin-bottom: @grid-gutter-width;
	section {
		.text-center();
		article {
			.make-xs-column( 12 );
		}
		img {
			max-width: 100%;
		}
	}
}

 .thumbnail-row{
	.container;
	section {
		padding: @grid-gutter-width/2 0;
		article {
			.make-xs-column( 3 );
		}
		&.preview-row {
		}

	}
}

.preview-row {
	.container;
	section {
		display: none;
		padding: @grid-gutter-width 0;
		figure {
			.make-xs-column( 12 );
			.make-sm-column( 5 );
		}
		aside {
			.make-xs-column( 12 );
			.make-sm-column( 7 );
		}
	}
}

.preview-full-width {
	width: 100%;
	background: pink;
}

footer {
	.container;
	.text-center;
	margin-bottom: @grid-gutter-width;
	article {
		.make-xs-column( 12 );
		.make-md-column( 8 );
		.make-md-column-offset( 2 );
	}
}
