@import 'fontfaces.less';
@import 'vendor/bootstrap/less/bootstrap.less';
@import 'vendor/font-awesome/less/font-awesome.less';

@font-size-base: 20px;
@font-family-sans-serif: 'Lato';

section {
	.make-row;
}
a:link {
	color: @text-color;
}
a:hover {
	color: lighten( @text-color, 10% );
}
a:visited {
	color: lighten( @text-color, 20% );
}
a:active {
	color: lighten( @text-color, 30% );
}

header, main, footer {
	padding-top: @grid-gutter-width/2;
	padding-bottom: @grid-gutter-width/2;
}

header {
	.container;
	section {
		.text-center();
		article {
			.make-xs-column( 12 );
		}
		img {
			max-width: 100%;
		}
	}
}

.thumbnail-row{
	.container;
	section {
		padding: @grid-gutter-width/2 0;
		article {
			.make-xs-column( 3 );
		}
	}
}

.preview-row {
	.container;
	section {
		display: none;
		padding: @grid-gutter-width 0;
		figure {
			.make-xs-column( 12 );
			.make-sm-column( 5 );
		}
		aside {
			.make-xs-column( 12 );
			.make-sm-column( 7 );
			a:link {
				padding: 5px 10px;
				font-weight: bold;
				border: solid 2px @text-color;
				display: inline-block;
				margin-top: @grid-gutter-width/2;
			}
			a:hover {
				color: lighten( @text-color, 10% );
				text-decoration: none;
			}
		}
	}
}

.preview-full-width {
	width: 100%;
}

.page {
	.container;
	.text-center;
	margin-bottom: @grid-gutter-width;
	article {
		.make-xs-column( 12 );
		.make-md-column( 8 );
		.make-md-column-offset( 2 );
	}
}

footer {
	.page;
}
